<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Admin Home</title>
	<link rel="stylesheet" href="../assets/libs/Bootstrap/bootstrap.min.css" />
	<style>
	.overlay {
		/*background-image:url('assets/images/bg.jpg');
				background-repeat:repeat;*/
		background-color: #ccc;
		display: none;
		z-index: 500;
		position: absolute;
		top: 0px;
		left: 0px;
		filter: alpha(opacity = 50);
		-moz-opacity: 0.5;
		-khtml-opacity: 0.5;
		opacity: 0.5;
		width: 100%;
		height: 100%;
	}
	
	.messageBlock {
		text-align: center;
		padding-bottom: 8px;
		font-size: 16px;
	}
	</style>
</head>
<body>
	<div class="container">
		<div id="wait" class="overlay">
			<div
				style="width: 70px; height: 90px; position: absolute; top: 50%; left: 50%; padding: 2px;">
				<img src='assets/images/loader.gif' width="64" height="64" /><br>Loading....
				Please Wait....
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="form-horizontal">
					<div class="get-in-touch">
						<h3 class="text-center">Login</h3>
						<hr />
						<div class="col-sm-12">
							<p class="messageBlock"></p>
						</div>
						<!-- 						<div class="form-group"> -->
						<!-- 							<label class="col-sm-2 control-label" >User Name</label> -->
						<!-- 							<div class="col-sm-10"> -->
						<!-- 								<input type="text" class="form-control" placeholder="" ng-model="userName" > -->
						<!-- 							</div> -->
						<!-- 						</div> -->
						<div class="form-group">
							<label class="col-sm-2 control-label">Email Id</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									placeholder="someone@example.com"  id="loginEmail" >
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control"
									placeholder="**************" id="loginPwd" >
							</div>
						</div>
						<!-- 						<div class="form-group"> -->
						<!-- 							<label class="col-sm-2 control-label">Confirm Password</label> -->
						<!-- 							<div class="col-sm-10"> -->
						<!-- 								<input type="password" class="form-control" placeholder="**************" ng-model="confirmPwd" > -->
						<!-- 							</div> -->
						<!-- 						</div> -->
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10 registerBtnRight">
								<button onclick="authenticateUser();"
									class="btn btn-danger btn-sm ">Login</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 	<script src="assets/libs/Angular/angular.min.js"></script> -->
	<!-- 	<script src="assets/libs/Angular/angular-route.min.js"></script> -->
	<script src="../assets/libs/JQuery/jquery.min.js"></script>
	<script src="../assets/libs/Bootstrap/bootstrap.min.js"></script>
	<!-- 	<script src="assets/libs/Angular/translate.js"></script> -->
	<!-- 	<script src="services/translations.js"></script> -->
	<script src="../login.js"></script>
</body>
</html>